body {
    background-image: url('bg-img/background.jpg');
}

.keys {
    display: flex;
    flex: 1;
    min-height: 120vh;
    align-items: center;
    justify-content: center;

    & :hover {
        cursor: pointer;
        background: rgb(239, 152, 11);
        transition: 0.2ms;
    }
}

.key {
    border: 0.2em solid black;
    border-radius: 0.2rem;
    margin: .7em;
    font-size: 0.9em;
    transition: all 0.07s;
    padding-left: 1.2em;
    padding-right: 1.2em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    width: 5rem;
    text-align: center;
    color: white;
    background: rgba(144, 142, 142, 0.4);
    text-shadow: 0 0 .5rem black;

}

kbd {
    display: block;
    font-size: 2.4em;
}

.sound {
    text-transform: uppercase;
    color: #ffc600;
}
.playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
  }